<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th>Country</th>
      <th>Total_Cases</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>US</td>
      <td>7115008</td>
    </tr>
    <tr>
      <td>India</td>
      <td>6074702</td>
    </tr>
    <tr>
      <td>Brazil</td>
      <td>4732309</td>
    </tr>
    <tr>
      <td>Russia</td>
      <td>1146273</td>
    </tr>
    <tr>
      <td>Colombia</td>
      <td>813056</td>
    </tr>
    <tr>
      <td>Peru</td>
      <td>800142</td>
    </tr>
    <tr>
      <td>Mexico</td>
      <td>730317</td>
    </tr>
    <tr>
      <td>Spain</td>
      <td>716481</td>
    </tr>
    <tr>
      <td>Argentina</td>
      <td>711325</td>
    </tr>
    <tr>
      <td>South Africa</td>
      <td>670766</td>
    </tr>
    <tr>
      <td>France</td>
      <td>552473</td>
    </tr>
    <tr>
      <td>Chile</td>
      <td>457901</td>
    </tr>
    <tr>
      <td>Iran</td>
      <td>446448</td>
    </tr>
    <tr>
      <td>United Kingdom</td>
      <td>437517</td>
    </tr>
    <tr>
      <td>Bangladesh</td>
      <td>359148</td>
    </tr>
    <tr>
      <td>Iraq</td>
      <td>349450</td>
    </tr>
    <tr>
      <td>Saudi Arabia</td>
      <td>333193</td>
    </tr>
    <tr>
      <td>Turkey</td>
      <td>314433</td>
    </tr>
    <tr>
      <td>Pakistan</td>
      <td>310841</td>
    </tr>
    <tr>
      <td>Italy</td>
      <td>309870</td>
    </tr>
    <tr>
      <td>Philippines</td>
      <td>304226</td>
    </tr>
    <tr>
      <td>Germany</td>
      <td>286339</td>
    </tr>
    <tr>
      <td>Indonesia</td>
      <td>275213</td>
    </tr>
    <tr>
      <td>Israel</td>
      <td>231026</td>
    </tr>
    <tr>
      <td>Ukraine</td>
      <td>203799</td>
    </tr>
    <tr>
      <td>Canada</td>
      <td>155428</td>
    </tr>
    <tr>
      <td>Ecuador</td>
      <td>134747</td>
    </tr>
    <tr>
      <td>Bolivia</td>
      <td>133901</td>
    </tr>
    <tr>
      <td>Qatar</td>
      <td>125084</td>
    </tr>
    <tr>
      <td>Romania</td>
      <td>122673</td>
    </tr>
    <tr>
      <td>Morocco</td>
      <td>117685</td>
    </tr>
    <tr>
      <td>Belgium</td>
      <td>114179</td>
    </tr>
    <tr>
      <td>Netherlands</td>
      <td>113564</td>
    </tr>
    <tr>
      <td>Dominican Republic</td>
      <td>111386</td>
    </tr>
    <tr>
      <td>Panama</td>
      <td>110555</td>
    </tr>
    <tr>
      <td>Kazakhstan</td>
      <td>107775</td>
    </tr>
    <tr>
      <td>Kuwait</td>
      <td>103544</td>
    </tr>
    <tr>
      <td>Egypt</td>
      <td>102840</td>
    </tr>
    <tr>
      <td>Oman</td>
      <td>97450</td>
    </tr>
    <tr>
      <td>United Arab Emirates</td>
      <td>91469</td>
    </tr>
    <tr>
      <td>Sweden</td>
      <td>90923</td>
    </tr>
    <tr>
      <td>China</td>
      <td>90483</td>
    </tr>
    <tr>
      <td>Guatemala</td>
      <td>90092</td>
    </tr>
    <tr>
      <td>Poland</td>
      <td>87330</td>
    </tr>
    <tr>
      <td>Japan</td>
      <td>82186</td>
    </tr>
    <tr>
      <td>Belarus</td>
      <td>77609</td>
    </tr>
    <tr>
      <td>Honduras</td>
      <td>74548</td>
    </tr>
    <tr>
      <td>Portugal</td>
      <td>73604</td>
    </tr>
    <tr>
      <td>Nepal</td>
      <td>73394</td>
    </tr>
    <tr>
      <td>Ethiopia</td>
      <td>73332</td>
    </tr>
    <tr>
      <td>Venezuela</td>
      <td>72691</td>
    </tr>
    <tr>
      <td>Costa Rica</td>
      <td>72049</td>
    </tr>
    <tr>
      <td>Bahrain</td>
      <td>69361</td>
    </tr>
    <tr>
      <td>Czechia</td>
      <td>64597</td>
    </tr>
    <tr>
      <td>Nigeria</td>
      <td>58324</td>
    </tr>
    <tr>
      <td>Singapore</td>
      <td>57700</td>
    </tr>
    <tr>
      <td>Uzbekistan</td>
      <td>55320</td>
    </tr>
    <tr>
      <td>Switzerland</td>
      <td>51864</td>
    </tr>
    <tr>
      <td>Algeria</td>
      <td>51067</td>
    </tr>
    <tr>
      <td>Moldova</td>
      <td>50875</td>
    </tr>
    <tr>
      <td>Armenia</td>
      <td>49400</td>
    </tr>
    <tr>
      <td>Ghana</td>
      <td>46387</td>
    </tr>
    <tr>
      <td>Kyrgyzstan</td>
      <td>46251</td>
    </tr>
    <tr>
      <td>Austria</td>
      <td>42876</td>
    </tr>
    <tr>
      <td>Azerbaijan</td>
      <td>40023</td>
    </tr>
    <tr>
      <td>Afghanistan</td>
      <td>39227</td>
    </tr>
    <tr>
      <td>West Bank and Gaza</td>
      <td>38703</td>
    </tr>
    <tr>
      <td>Paraguay</td>
      <td>38684</td>
    </tr>
    <tr>
      <td>Kenya</td>
      <td>38115</td>
    </tr>
    <tr>
      <td>Lebanon</td>
      <td>36254</td>
    </tr>
    <tr>
      <td>Ireland</td>
      <td>34990</td>
    </tr>
    <tr>
      <td>Serbia</td>
      <td>33384</td>
    </tr>
    <tr>
      <td>Libya</td>
      <td>32364</td>
    </tr>
    <tr>
      <td>El Salvador</td>
      <td>28630</td>
    </tr>
    <tr>
      <td>Denmark</td>
      <td>27111</td>
    </tr>
    <tr>
      <td>Australia</td>
      <td>27044</td>
    </tr>
    <tr>
      <td>Bosnia and Herzegovina</td>
      <td>26920</td>
    </tr>
    <tr>
      <td>Hungary</td>
      <td>24014</td>
    </tr>
    <tr>
      <td>Korea, South</td>
      <td>23661</td>
    </tr>
    <tr>
      <td>Cameroon</td>
      <td>20735</td>
    </tr>
    <tr>
      <td>Bulgaria</td>
      <td>20055</td>
    </tr>
    <tr>
      <td>Cote d'Ivoire</td>
      <td>19629</td>
    </tr>
    <tr>
      <td>North Macedonia</td>
      <td>17629</td>
    </tr>
    <tr>
      <td>Greece</td>
      <td>17444</td>
    </tr>
    <tr>
      <td>Madagascar</td>
      <td>16285</td>
    </tr>
    <tr>
      <td>Croatia</td>
      <td>16197</td>
    </tr>
    <tr>
      <td>Tunisia</td>
      <td>16114</td>
    </tr>
    <tr>
      <td>Senegal</td>
      <td>14909</td>
    </tr>
    <tr>
      <td>Zambia</td>
      <td>14641</td>
    </tr>
    <tr>
      <td>Norway</td>
      <td>13698</td>
    </tr>
    <tr>
      <td>Sudan</td>
      <td>13606</td>
    </tr>
    <tr>
      <td>Albania</td>
      <td>13259</td>
    </tr>
    <tr>
      <td>Kosovo</td>
      <td>12683</td>
    </tr>
    <tr>
      <td>Namibia</td>
      <td>11033</td>
    </tr>
    <tr>
      <td>Malaysia</td>
      <td>10919</td>
    </tr>
    <tr>
      <td>Burma</td>
      <td>10734</td>
    </tr>
    <tr>
      <td>Congo (Kinshasa)</td>
      <td>10612</td>
    </tr>
    <tr>
      <td>Guinea</td>
      <td>10580</td>
    </tr>
    <tr>
      <td>Montenegro</td>
      <td>10313</td>
    </tr>
    <tr>
      <td>Maldives</td>
      <td>10098</td>
    </tr>
    <tr>
      <td>Finland</td>
      <td>9682</td>
    </tr>
    <tr>
      <td>Tajikistan</td>
      <td>9646</td>
    </tr>
    <tr>
      <td>Slovakia</td>
      <td>9078</td>
    </tr>
    <tr>
      <td>Haiti</td>
      <td>8740</td>
    </tr>
    <tr>
      <td>Gabon</td>
      <td>8728</td>
    </tr>
    <tr>
      <td>Jordan</td>
      <td>8492</td>
    </tr>
    <tr>
      <td>Luxembourg</td>
      <td>8233</td>
    </tr>
    <tr>
      <td>Mozambique</td>
      <td>7983</td>
    </tr>
    <tr>
      <td>Zimbabwe</td>
      <td>7812</td>
    </tr>
    <tr>
      <td>Uganda</td>
      <td>7530</td>
    </tr>
    <tr>
      <td>Mauritania</td>
      <td>7464</td>
    </tr>
    <tr>
      <td>Jamaica</td>
      <td>6017</td>
    </tr>
    <tr>
      <td>Cabo Verde</td>
      <td>5771</td>
    </tr>
    <tr>
      <td>Malawi</td>
      <td>5768</td>
    </tr>
    <tr>
      <td>Cuba</td>
      <td>5457</td>
    </tr>
    <tr>
      <td>Eswatini</td>
      <td>5431</td>
    </tr>
    <tr>
      <td>Djibouti</td>
      <td>5409</td>
    </tr>
    <tr>
      <td>Slovenia</td>
      <td>5350</td>
    </tr>
    <tr>
      <td>Georgia</td>
      <td>5254</td>
    </tr>
    <tr>
      <td>Nicaragua</td>
      <td>5073</td>
    </tr>
    <tr>
      <td>Equatorial Guinea</td>
      <td>5028</td>
    </tr>
    <tr>
      <td>Congo (Brazzaville)</td>
      <td>5008</td>
    </tr>
    <tr>
      <td>Suriname</td>
      <td>4835</td>
    </tr>
    <tr>
      <td>Rwanda</td>
      <td>4820</td>
    </tr>
    <tr>
      <td>Central African Republic</td>
      <td>4806</td>
    </tr>
    <tr>
      <td>Angola</td>
      <td>4718</td>
    </tr>
    <tr>
      <td>Lithuania</td>
      <td>4385</td>
    </tr>
    <tr>
      <td>Trinidad and Tobago</td>
      <td>4362</td>
    </tr>
    <tr>
      <td>Syria</td>
      <td>4072</td>
    </tr>
    <tr>
      <td>Bahamas</td>
      <td>3838</td>
    </tr>
    <tr>
      <td>Somalia</td>
      <td>3588</td>
    </tr>
    <tr>
      <td>Gambia</td>
      <td>3569</td>
    </tr>
    <tr>
      <td>Thailand</td>
      <td>3523</td>
    </tr>
    <tr>
      <td>Sri Lanka</td>
      <td>3360</td>
    </tr>
    <tr>
      <td>Estonia</td>
      <td>3200</td>
    </tr>
    <tr>
      <td>Mali</td>
      <td>3086</td>
    </tr>
    <tr>
      <td>Malta</td>
      <td>2979</td>
    </tr>
    <tr>
      <td>Botswana</td>
      <td>2921</td>
    </tr>
    <tr>
      <td>Guyana</td>
      <td>2772</td>
    </tr>
    <tr>
      <td>South Sudan</td>
      <td>2686</td>
    </tr>
    <tr>
      <td>Iceland</td>
      <td>2623</td>
    </tr>
    <tr>
      <td>Benin</td>
      <td>2340</td>
    </tr>
    <tr>
      <td>Guinea-Bissau</td>
      <td>2324</td>
    </tr>
    <tr>
      <td>Sierra Leone</td>
      <td>2215</td>
    </tr>
    <tr>
      <td>Yemen</td>
      <td>2030</td>
    </tr>
    <tr>
      <td>Uruguay</td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Burkina Faso</td>
      <td>2008</td>
    </tr>
    <tr>
      <td>Andorra</td>
      <td>1836</td>
    </tr>
    <tr>
      <td>New Zealand</td>
      <td>1833</td>
    </tr>
    <tr>
      <td>Belize</td>
      <td>1825</td>
    </tr>
    <tr>
      <td>Togo</td>
      <td>1743</td>
    </tr>
    <tr>
      <td>Cyprus</td>
      <td>1696</td>
    </tr>
    <tr>
      <td>Latvia</td>
      <td>1676</td>
    </tr>
    <tr>
      <td>Lesotho</td>
      <td>1558</td>
    </tr>
    <tr>
      <td>Liberia</td>
      <td>1339</td>
    </tr>
    <tr>
      <td>Niger</td>
      <td>1196</td>
    </tr>
    <tr>
      <td>Chad</td>
      <td>1178</td>
    </tr>
    <tr>
      <td>Vietnam</td>
      <td>1074</td>
    </tr>
    <tr>
      <td>Sao Tome and Principe</td>
      <td>911</td>
    </tr>
    <tr>
      <td>San Marino</td>
      <td>727</td>
    </tr>
    <tr>
      <td>Diamond Princess</td>
      <td>712</td>
    </tr>
    <tr>
      <td>Papua New Guinea</td>
      <td>532</td>
    </tr>
    <tr>
      <td>Taiwan*</td>
      <td>510</td>
    </tr>
    <tr>
      <td>Tanzania</td>
      <td>509</td>
    </tr>
    <tr>
      <td>Burundi</td>
      <td>485</td>
    </tr>
    <tr>
      <td>Comoros</td>
      <td>478</td>
    </tr>
    <tr>
      <td>Eritrea</td>
      <td>375</td>
    </tr>
    <tr>
      <td>Mauritius</td>
      <td>367</td>
    </tr>
    <tr>
      <td>Mongolia</td>
      <td>313</td>
    </tr>
    <tr>
      <td>Cambodia</td>
      <td>276</td>
    </tr>
    <tr>
      <td>Bhutan</td>
      <td>273</td>
    </tr>
    <tr>
      <td>Monaco</td>
      <td>210</td>
    </tr>
    <tr>
      <td>Barbados</td>
      <td>190</td>
    </tr>
    <tr>
      <td>Brunei</td>
      <td>146</td>
    </tr>
    <tr>
      <td>Seychelles</td>
      <td>143</td>
    </tr>
    <tr>
      <td>Liechtenstein</td>
      <td>117</td>
    </tr>
    <tr>
      <td>Antigua and Barbuda</td>
      <td>101</td>
    </tr>
    <tr>
      <td>Saint Vincent and the Grenadines</td>
      <td>64</td>
    </tr>
    <tr>
      <td>Fiji</td>
      <td>32</td>
    </tr>
    <tr>
      <td>Dominica</td>
      <td>30</td>
    </tr>
    <tr>
      <td>Timor-Leste</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Saint Lucia</td>
      <td>27</td>
    </tr>
    <tr>
      <td>Grenada</td>
      <td>24</td>
    </tr>
    <tr>
      <td>Laos</td>
      <td>23</td>
    </tr>
    <tr>
      <td>Saint Kitts and Nevis</td>
      <td>19</td>
    </tr>
    <tr>
      <td>Holy See</td>
      <td>12</td>
    </tr>
    <tr>
      <td>Western Sahara</td>
      <td>10</td>
    </tr>
    <tr>
      <td>MS Zaandam</td>
      <td>9</td>
    </tr>
  </tbody>
</table>